body {
  /* margin: 5rem auto auto auto; */
  font-family: Palatino Linotype, Georgia, Garamond;
  background-image: url("https://www.everwallpaper.co.uk/cdn/shop/products/misty-forest-wallpaper-mural-plain.jpg?v=1650522432");
  background-size: cover;
  background-position: center;
  color: #c3ccbd;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.haikusAll {
  margin: 5rem;
  max-width: 90vw;
  margin: 19rem auto auto auto;
}
.haikuDiv {
  width: 20rem;
}
.displayText {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(3, 4, 4, 15);
  text-align: center;
}
.inputTopic {
  display: flex;
  flex-direction: column;
}
.inputBox {
  text-align: center;
  background-color: #748579;
  border: none;
  border-radius: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  color: #263626;
}
.inputBox::placeholder {
  color: #263626; /* Set the desired color for the placeholder text */
}
.button {
  background-color: #8b9586;
  color: #263626;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.button:hover {
  background-color: #586d3d; /* Change to your preferred hover background color */

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow on hover */
}

.app-wrapper {
  display: flex;
}
.footerBit {
  /* position: absolute;
  bottom: 0;
  left: 45%;
  text-align: center; */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
